.Cart {
  display: none;
  position: absolute;
  max-height: 100%;
  background-color: aliceblue;
  right: 0;
  top: 80px;
  width: 500px;
  padding: 10px;
}

.Cart.visible {
  display: block;
}

.Cart>.header {
  margin-bottom: 20px;
  display: flex;
  padding: 5px;
}

.Cart>.header>.checkout {
  margin-left: auto;
  background: palegreen;
  padding: 5px 10px;
  cursor: pointer;
}

.Cart>.header>.checkout:hover {
  background-color: orchid;
}